@use "lists";
@use "variables";

.header {
	display: none;
	flex: 0 1;
	flex-direction: column;
	align-items: center;
	font-family: "Merriweather", sans-serif;
	text-align: center;
	color: variables.$secondary;
	padding: {
		left: variables.$padding-sm;
		right: variables.$padding-sm;
	}

	.name-logo {
		font: {
			size: 2rem;
			weight: 600;
		}

		cursor: pointer;
		line-height: 2.5;

		a {
			color: inherit;
		}
	}

	ul {
		@include lists.nav;
		margin-left: 5.75rem;

		li {
			@include lists.nav-item;

			&:not(:last-child) {
				padding-right: 7.5rem;
			}

			a {
				color: inherit;
			}
		}
	}
}

@media screen and (min-width: 560px) {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: variables.$padding-sm;
	}
}

@media screen and (min-width: 768px) {
	.header {
		padding: {
			right: variables.$padding;
			left: variables.$padding;
		}
	}
}

@media screen and (min-width: 960px) {
	.header {
		.name-logo {
			font-size: 2.5rem;
		}

		ul {
			li {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (min-width: 1140px) {
	.header {
		padding: {
			left: variables.$padding-lg;
			right: variables.$padding-lg;
		}
	}
}
