@use "variables";

.page {
	min-height: 100vh;
	display: flex;
}

.main {
	display: flex;
	flex: 1 0;
	flex-direction: column;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	color: variables.$primary;
	text-align: center;
	padding: {
		left: variables.$padding-sm;
		right: variables.$padding-sm;
		bottom: 5.33rem;
	}

	.headline {
		color: variables.$primary;
		font: {
			family: "Libre Franklin", sans-serif;
			size: 3rem;
			weight: 600;
		}
	}

	.description {
		color: variables.$primary;
		font: {
			family: "Merriweather", sans-serif;
			size: 1rem;
		}
	}

	.download-button {
		justify-content: center;
		width: 100%;
		color: variables.$secondary;
		margin: {
			top: 1rem;
			bottom: 1rem;
		}
		font: {
			family: "Libre Franklin", sans-serif;
			size: 1rem;
			weight: 500;
		}
	}

	.subheading {
		font: {
			family: "Libre Franklin", sans-serif;
			size: 1.5rem;
			weight: 600;
		}
	}

	.divider-top {
		position: relative;
		width: 100%;
		height: 2px;
		margin-top: 1rem;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: variables.$secondary;
			// height: 2px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 50%;
			top: 0;
			bottom: 0;
			background-color: variables.$primary;
		}
	}

	.divider-bottom {
		position: relative;
		width: 100%;
		height: 2px;
		margin-bottom: 1rem;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: variables.$secondary;
			// height: 2px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 50%;
			top: 0;
			bottom: 0;
			background-color: variables.$primary;
		}
	}

	ul {
		align-self: center;
		list-style-type: "\27A2";
		text-align: left;
		padding-left: 0;

		li {
			padding-left: 1rem;
			font: {
				family: "Merriweather", sans-serif;
				size: 1rem;
			}
		}
	}
}

@media screen and (min-width: 560px) {
	.content {
		padding: {
			bottom: 0rem;
		}

		.headline {
			font-size: 4rem;
		}

		.description {
			font-size: 1.33rem;
		}

		.download-button {
			font-size: 1.33rem;
		}

		.subheading {
			font-size: 2.33rem;
		}

		ul > li {
			font-size: 1.33rem;
		}
	}
}

@media screen and (min-width: 650px) {
	.content {
		padding: {
			left: variables.$padding;
			right: variables.$padding;
		}
	}
}

@media screen and (min-width: 768px) {
	.content {
		padding: {
			left: variables.$padding-lg;
			right: variables.$padding-lg;
		}
	}

	.content {
		.headline {
			font-size: 5rem;
		}

		.description {
			font-size: 1.66rem;
		}

		.download-button {
			font-size: 1.66rem;
		}

		.subheading {
			font-size: 3.33rem;
		}

		ul > li {
			font-size: 1.66rem;
		}
	}
}

@media screen and (min-width: 1000px) {
	.content {
		padding: {
			left: variables.$padding-xlg;
			right: variables.$padding-xlg;
		}
	}
}

@media screen and (min-width: 1660px) {
	.content {
		padding: {
			left: variables.$padding-xxlg;
			right: variables.$padding-xxlg;
		}
	}

	.content {
		.headline {
			font-size: 6rem;
		}

		.description {
			font-size: 1.99rem;
		}

		.download-button {
			font-size: 1.99rem;
		}

		.subheading {
			font-size: 4.33rem;
		}

		ul > li {
			font-size: 1.99rem;
		}
	}
}
