@use "variables";

.page {
	min-height: 100vh;
	display: flex;
}

.main {
	display: flex;
	flex: 1 0;
	flex-direction: column;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	text-align: center;
	color: variables.$primary;
	padding: {
		top: 5.33rem;
		left: variables.$padding-sm;
		right: variables.$padding-sm;
		bottom: 8.33rem;
	}

	.headline {
		font: {
			family: "Libre Franklin", sans-serif;
			size: 3rem;
			weight: 600;
		}
	}

	.description {
		color: variables.$secondary;
		margin: {
			top: 1rem;
			bottom: 1rem;
		}

		font: {
			family: "Merriweather", sans-serif;
			size: 1rem;
		}
	}

	.more-button {
		justify-content: center;
		width: 100%;
		color: variables.$secondary;
		margin: {
			top: 0rem;
			bottom: 1rem;
		}
		font: {
			family: "Libre Franklin", sans-serif;
			size: 1rem;
			weight: 500;
		}
	}

	.accordion-tab-header > a {
		color: variables.$primary !important;
		background: #fff !important;
		border: none !important                                       {
			bottom: 1px solid #dee2e6 !important;
		}
		font: {
			family: "Libre Franklin", sans-serif;
			size: 1.1678rem;
			weight: 600;
		}
	}

	.accordion-tab-content > div {
		color: variables.$primary !important;
		border: none;
		padding: {
			top: 1rem;
			bottom: 1rem;
		}
	}

	ul {
		align-self: center;
		list-style-type: "\27A2";
		text-align: left;
		padding-left: 0;

		li {
			padding-left: 1rem;
			font: {
				family: "Merriweather", sans-serif;
				size: 1rem;
				style: italic;
			}

			&:not(:first-child) {
				margin-top: 1rem;
			}
		}
	}
}

@media screen and (min-width: 560px) {
	.content {
		padding: {
			bottom: 0rem;
		}

		.headline {
			font-size: 4rem;
		}

		.description {
			font-size: 1.33rem;
		}

		.accordion-tab-header > a {
			font-size: 1.678rem;
		}

		.download-button {
			font-size: 1.33rem;
		}

		.subheading {
			font-size: 2.33rem;
		}

		ul > li {
			font-size: 1.33rem;
		}
	}
}

@media screen and (min-width: 650px) {
	.content {
		padding: {
			left: variables.$padding;
			right: variables.$padding;
		}
	}
}

@media screen and (min-width: 768px) {
	.content {
		padding: {
			left: variables.$padding-lg;
			right: variables.$padding-lg;
		}
	}

	.content {
		.headline {
			font-size: 5rem;
		}

		.description {
			font-size: 1.66rem;
		}

		.accordion-tab-header > a {
			font-size: 2.1678rem;
		}

		.more-button {
			font-size: 1.66rem;
		}

		ul > li {
			font-size: 1.66rem;
		}
	}
}

@media screen and (min-width: 1000px) {
	.content {
		padding: {
			left: variables.$padding-xlg;
			right: variables.$padding-xlg;
		}
	}
}

@media screen and (min-width: 1660px) {
	.content {
		padding: {
			left: variables.$padding-xxlg;
			right: variables.$padding-xxlg;
		}
	}

	.content {
		.headline {
			font-size: 6rem;
		}

		.description {
			font-size: 1.99rem;
		}

		.accordion-tab-header > a {
			font-size: 2.678rem;
		}

		.more-button {
			font-size: 1.99rem;
		}

		ul > li {
			font-size: 1.66rem;
		}
	}
}
